body {
    background-image: url("img/symphony.png");
    color: #666;
    text-align: center;
    font-family: 'Calibri';
    width: 70%;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 100px;
    font-size: 120%;
}

h1, h2, h3 {
    font-family: 'Cambria';
}

ul {
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 28px;
    padding-left: 0;
}

li {
    display: inline;
    transition: 0.3s ease;
}

li:hover {
    border-bottom: dotted 2px;
    padding-bottom: 2px;
    transition: 0.3s ease;
}

li + li:before {
    content: "◊ ";
    color: #999;
    font-size: 10px;
    padding: 1px;
}

a {
    text-decoration: none;
    color: #000;
    font-style: italic;
}

header {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    z-index: 2;
}

header h1 {
    font-size: 3em;
    margin: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    left: 0;
    padding: 10px;
    border-top: dotted 1px;
}

footer span {
    color: red;
}

section {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
}

section h2 {
    font-size: 2em;
    padding: 40px 0;
}

section h2:before,
section h2:after {
    content: "◎";
    padding: 6px;
    font-size: 18px;
}

section p {
    text-align: left;
    padding: 20px;
}

.code {
    font-family: 'Consolas';
    background-color: rgba(0, 0, 0, 0.5);;
    color: #fff;
    padding: 20px;
    text-align: left;
    margin: 40px;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.code span {
    color: #87CEFA;
}

.code strong {
    color: #98FB98;
    font-weight: normal;
}

.separador {
    font-size: 40px;
    color: #666;
    margin: 0;
    padding: 0;
}

.intro {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
    border-radius: 10px;
}

.intro h2 {
    text-align: justify;
}

.intro img {
    width: 14%;
    position: absolute;
    right: 20px;
    top: 20px;
}
